<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="stylesheets/app.css">
    <title>Learnvas</title>
</head>
<body>
    <div class="ui stackable inverted menu">
        <div class="ui container">
            <a href="/"class="item"><i class="home icon"></i>Home</a>
            <% if (currentUser) { %>
            <a href="/courses" class="item"><i class="graduation hat icon"></i>Courses</a>
            <a href="/students" class="item"><i class="address book icon"></i>Directory</a>
            <% } %>
            <div class="right menu">
                <% if (!currentUser) { %>
                <a href="/login" class="item"><i class="sign-in icon"></i>Login</a>
                <a href="/register" class="item"><i class="pencil alternate icon"></i>Register</a>
                <% } else { %>
                <a href="/logout" class="item"><i class="sign-out icon"></i>Logout</a>
                <% } %>
            </div>
        </div>
    </div>