<%- include("./partials/header.ejs") %>
<div id="hero" class="ui segment">
	<div class="ui container">
		<div class="ui grid">
			<div class="ten wide column hero-content">
				<h1>Learn the fundamentals of computer science and programming languages. All at your own pace, bit by bit.</h1>
				<a href="/" class="ui orange button">Learn More</a>
				<a href="/register" class="ui blue button">Create an Account</a>
			</div>
		</div>
	</div>
</div>
<%- include("./partials/footer.ejs") %>