<%- include("../partials/header.ejs") %>
<div class="ui container">
    <h1 class="info-header">New Student</h1>
    <form class="ui form" action="/students" method="POST">
        <div class="fields">
          <div class="field">
            <label>First name</label>
            <input type="text" placeholder="First Name" name="student[first]" required>
          </div>
          <div class="field">
            <label>Last name</label>
            <input type="text" placeholder="Last Name" name="student[last]" required>
          </div>
        </div>
        <div class="field">
          <label>Avatar</label>
          <input type="text" placeholder="Image URL" name="student[img]">
        </div>
        <div class="field">
            <label>Email</label>
            <input type="email" placeholder="Email" name="student[email]" required>
        </div>
        <div class="field">
            <label>Major</label>
            <input type="text" placeholder="Major" name="student[major]">
        </div>
        <div class="field">
            <label>Short Bio</label>
            <textarea rows="2" name="student[bio]"></textarea>
        </div>
        <input type="submit" value="Enroll" class="ui green button">
        <a href="/students" class="ui red button">Cancel</a> 
    </form>
</div>
<%- include("../partials/footer.ejs") %>